* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%);
    position: relative;
    display: flex;
}

img {
    width: 255px;
    transform: rotate(-40deg);
    position: absolute;
    top: 130px;
    left: 25px;
    
}

.notebook {
    display: flex;
    width: 650px;
    height: 400px;
    border: 13px solid rgb(29, 29, 29);
    border-radius: 10px;
    margin: auto auto;
    outline: 2px solid rgb(206, 206, 206);
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    position: relative;
}

.task, .input {
    width: 50%;
    padding: 20px;
    
}

.input {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.task {
    position: relative;
    overflow: hidden;
}


.task::after {
    position: absolute;
    top: -2px;
    left: 311px;
    content: "";
    width: 3px;
    height: 376px;
    background-color: rgb(29, 29, 29);
}


h3 {
    font-size: 17px;
    color: rgb(234, 116, 73);
}

#textCenter {
    text-align: center;
}

#input {
    margin-top: 10px;
    width: 167px;
    height: 15px;
    border: none;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
}

#button {
    margin-top: 10px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(43, 25, 147);
    color: white;
    transition:  0.3s;
}

#button:hover {
    background-color: rgb(52, 172, 41);
}

.warning {
    width: 256px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(205, 40, 40);
    top: 66px;
    left: 182px;
    padding-left: 5px;
    display: none;
    overflow: hidden;
}

.error {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    background-color: rgb(186, 111, 45);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    
}

.warning h5 {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.errorText {
    color: white;
}

span {
    font-size: 22px;
}

input[type='checkbox'] {
    margin-right: 3px;
}

input[type='checkbox']:hover + span{
    text-decoration: line-through;
}

